* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 129, 133);
  padding: 18px 0;
}

.header-visually {
  color: #f16d7f;
  padding-left: 20px;
  text-transform: uppercase;
}

.btn-cart {
  width: 80px;
  height: 35px;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: burlywood;
}

.btn-cart:hover {
  background-color: burlywood;
  color: rgb(24, 129, 133);
  border-color: black;
}

.btn-cart,
.header-visually {
  align-self: center;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
  padding: 40px 80px;
}
p {
  margin: 0 0 5px 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.desc {
  border: 1px solid burlywood;
  padding: 15px;
}

.buy-btn {
  margin-top: 5px;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: burlywood;
}

.buy-btn:hover {
  border-color: black;
  color: rgb(24, 129, 133);
}
